.loggedin-app {
	max-width: 920px;
	margin: 20px 0;

	&__header {
		margin-bottom: 16px;

		h1 {
			margin: 0;
			font-size: 22px;
			font-weight: 600;
		}
	}

	&__tabs {
		.components-tab-panel__tabs {
			border-bottom: 1px solid #dcdcde;
		}
	}

	&__panel {
		padding-top: 20px;
	}
}
